#container {
    width: 100%;
    height: 100%;
    position: fixed;
}

#map {
    width: 100%;
    height: 92%;
    position: absolute;
    z-index: - 1;
}

#map-menu {
    background-color: white;
    top: 165px;
    left: 10px;
    width: 300px;
    padding: 8px;
    position: absolute;
}

#cities-search {
    position: absolute;
    top: 53px;
    right: 64px;
}