@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.navbar {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 7px;
}

.logo-button {
    margin-right: 5px;
}

.nav-brand {
    color: white;
    font-family: 'Open Sans', serif;
    font-size: 32px;
    font-weight: 700;
}

.nav-item {
    color: white;
    margin-top: 8px;
    margin-right: 12px;
    font-family: 'Open Sans', serif;
    font-size: 26px;
    font-weight: 500;
}