@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #5dbcd2;
    font-family: 'Open Sans', serif;
    font-size: 36px;
}

h1 {
    text-align: center;
    color: white;
}

h5 {
    text-align: center;
    color: white;
}

.img-center {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 20%;
}

.button-center {
    text-align: center;
}
